name: Static Site CI

on:
  schedule:
    - cron: "0 0 * * *"
  repository_dispatch:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: upptime/uptime-monitor@v1.36.0
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          command: site
