name: Summary CI
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  summary:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: upptime/uptime-monitor@v1.41.0
        with:
          command: summary
        env:
          GH_PAT: ${{ secrets.GITHUB_TOKEN }}
