name: Uptime CI
on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:
  push:
    branches: [main]

permissions:
  contents: write
  issues: write

jobs:
  uptime:
    name: Check status
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: upptime/uptime-monitor@v1.41.0
        with:
          command: update
        env:
          GH_PAT: ${{ secrets.GITHUB_TOKEN }}
